{% extends "layout.html" %}

{% block title %}JSGrid and Django Sample{% endblock %}

{% block head %}
    <link href="http://js-grid.com/css/jsgrid.min.css" rel="stylesheet" />
    <link href="http://js-grid.com/css/jsgrid-theme.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="jsGrid"></div>
{% endblock %}

{% block scripts %}
    <script src="http://js-grid.com/js/jsgrid.min.js"></script>
    <script>
        $(function() {

            $("#jsGrid").jsGrid({
                height: "50%",
                width: "100%",

                filtering: true,
                inserting: true,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,

                pageSize: 10,
                pageButtonCount: 5,

                confirmDeleting: false,

                onItemDeleting: function(args) {
                    if ( confirm("Are you sure you want to delete '"
                                 + args.item.name + "' ?") ) {
                        args.cancel = false;
                    } else {
                        args.cancel = true;
                    }
                },

                controller: {
                    loadData: function(filter) {
                        return $.ajax({
                            type: "GET",
                            url: "/clients/api/",
                            dataType: "json",
                            data: filter
                        });
                    },

                    insertItem: function(item) {
                        return $.ajax({
                            type: "POST",
                            url: "/clients/api/",
                            data: item
                        });
                    },

                    updateItem: function(item) {
                        return $.ajax({
                            type: "PUT",
                            url: "/clients/api/" + item.id + "/",
                            data: item
                        });
                    },

                    deleteItem: function(item) {
                        return $.ajax({
                            type: "DELETE",
                            url: "/clients/api/" + item.id + "/"
                        });
                    }
                },

                fields: [
                    { name: "name", type: "text", width: 150 },
                    { name: "age", type: "number", width: 50, filtering: false },
                    { name: "address", type: "text", width: 200 },
                    { name: "married", type: "checkbox", title: "Is Married", filtering: false, sorting: false },
                    { type: "control" }
                ]
            });

        });
    </script>
{% endblock %}